{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "CreateIssue" %}">Создать задачу</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "UpdateIssue" issue.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#issueDeleteModal">
            Удалить
        </button>
    </li>
{% endblock %}

{% block content %}
    {{ test }}
    <h1>Подробная информация <br>
        о задаче:</h1>
    <p>
        <b>Заголовок:</b>
        {{ issue.summary }}
    </p>
    <p>
        <b>Описание:</b>
        {{ issue.description }}
    </p>
    <p>
        <b>Статус:</b>
        {{ issue.status }}
    </p>
    <p><b>Тип:</b>
        {% for type in issue.type.all %}{{ type.type }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <b>Проект:</b>
    <p>
            <p>{{ issue.project.p_name }}</p>
    </p>
    <a href="{% url "index" %}">На главную</a>
    <div class="modal fade" id="issueDeleteModal" tabindex="-1" aria-labelledby="issueModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="issueDeleteModal">Подтверждение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить задачу "{{ issue.summary }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Нет</button>
                    <form action="{% url "DeleteIssue" issue.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}