{% extends "base.html" %}
{% load static %}
{% block nav %}
    {% if request.user.is_authenticated %}
        {% if perms.webapp.create_project %}
            <li class="nav-item">
                <a class="nav-link" href="{% url "webapp:CreateProject" %}">Создать проект</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:IndexIssueView" %}">Посмотреть все задачи</a>
        </li>
        {% endif %}
    {% if perms.webapp.users_view %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:ViewUsers" %}">Посмотреть всех пользователей</a>
        </li>
    {% endif %}

{% endblock %}
{% block content %}
    <br>
    {% include "partial/projects_list_partial.html" %}
{% endblock %}