{% extends "base.html" %}
{% block nav %}
    {% if request.user.is_authenticated %}
    {% if perms.webapp.update_project and user in project.users.all %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:CreateProject" %}">Создать проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:UpdateProject" project.pk %}">Редактировать проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:DeleteProject" project.pk %}">Удалить проект</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:CreateIssue" project.pk %}">Создать задачу</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:project_add_users" project.pk %}">Добавить или Удалить
                пользователя</a>
        </li>
        {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    <h1>Подробная информация <br>
        о проекте:</h1>
    <p>
        <b>Название:</b>
        {{ project.p_name }}
    </p>
    <p>
        <b>Описание:</b>
        {{ project.p_description }}
    </p>
    <p>
        <b>Дата старта:</b>
        {{ project.start_date }}
    </p>
    <p>
        <b>Дата окончания:</b>
        {{ project.expiration_date }}
    </p>
    <p><b>Задачи:</b>
        {% for issue in project.projects.all %}
            <p class="mb-1"><a href="{% url 'webapp:IssueView' issue.pk %}">{{ issue }}</a></p>
        {% empty %}
            <p>Задач нет</p>
        {% endfor %}
    <br>
    <b>Пользователи:</b>
    <br>
    {% for user in project.users.all %}
        <div class="col my-2">
            <p class="card-title">{{ user.username }} </p>
        </div>
    {% empty %}
        <p>Пользователей нет</p>
    {% endfor %}
    <br>
    <a href="{% url "webapp:index" %}">На главную</a>
    <br>
    <br>

    <div class="modal fade" id="projectDeleteModal" tabindex="-1" aria-labelledby="projectModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="projectDeleteModal">Подтверждение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить проект "{{ project.p_name }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Нет</button>
                    <form action="{% url "webapp:DeleteProject" project.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Да</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}